<form action=""method="post">
  <label for="firstname">Nombre</label>
  <input placeholder="Escribe aquí tu nombre..." id="firstName" type="text" name="firstName" />
 <label for="lastname">Apellido</label>
  <input placeholder="Escribe aquí tu apellido..." id="lastname" type="text" name="lastname" />
  <label for="email">Email</label>
  <input placeholder="Escribe aquí tu correo electrónico..." id="email" type="text" name="email" />
  <label for="street">Calle</label>
  <input placeholder="Escribe aquí como se llama la calle donde vives..." id="street" type="text" name="street" />
  <label for="city">Ciudad</label>
   <input placeholder="Escribe aquí como se llama la ciudad donde vives..." id="city" type="text" name="city" />
  <label for="province">Provincia</label>
 <input placeholder="Escribe aquí la provincia donde vives..." id="province" type="text" name="province" />
   <label for="country">País</label>
  <input placeholder="Escribe aquí el país donde vives..." id="country" type="text" name="country" />
 <label for="DNI">DNI</label>
  <input placeholder="Escribe aquí tu DNI..." id="DNI" type="text" name="DNI" />
   <label for="telephone">telefono</label>
  <input placeholder="Escribe aquí tu Nro. de teléfono..." id="telephone" type="text" name="telephone" />
  <label for="password">contraseña</label>
   <input placeholder="Escribe aquí tu contraseña..." id="password" type="text" name="password" />
    <label for="confirm password">confirmar contraseña</label>
   <input placeholder="Confirma aquí tu contraseña..." id="password" type="text" name="password" />
  <input type="submit" value="Enviar" />
</form>